a {
  color: #337ab7;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  color: #333;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.dark-bg {
  background-color: #40404f;
}

.header_top {
  background-color: #6B7378;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}
.header_top .site-title {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
.header_top .btn {
  border-radius: 0;
  color: #fff;
  padding: 0.5rem 0.5rem;
}
.header_nav {
  padding: 0.1rem 1.2rem;
}
.header_nav .btn {
  border-radius: 0;
  padding: 0.1rem 0;
  font-size: 12px;
  margin: 0 0.1rem;
  border-color: #2e6da4;
  flex: 1;
  font-weight: bold;
}
.header .banner-img {
  font-size: 0;
  margin: 0.2rem 0;
}

.container_sm {
  height: 100%;
  width: 100%;
  max-width: 390px;
  min-height: 100%;
  margin: 0 auto;
  border: 1px solid black;
  background-color: #fff;
}

.container_full {
  height: 100%;
  min-height: 100%;
  background-color: #fff;
}

.chat_list {
  flex: 1;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-wrap: break-word;
  overflow: auto;
  padding-bottom: 1rem;
}
.chat_list .chatBlock .u-topic {
  font-weight: 600;
}
.chat_list .chatBlock .u-description {
  color: #000;
  font-size: 15px;
  font-weight: 500;
}

.sidepopup {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 60px;
  width: 340px;
  height: 100vh;
  border: 1px solid #000;
  opacity: 0;
  visibility: hidden;
}
.sidepopup .addGroup {
  border-radius: 0;
  margin: 0.2rem;
  border-color: #000;
  padding: 0.1rem 0.5rem;
}
.sidepopup.show {
  visibility: visible;
  opacity: 1;
}
.sidepopup__head {
  background-color: #6B7378;
}
.sidepopup__head h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}
.sidepopup__head .btn {
  padding: 0.2rem 0.7rem;
}
.sidepopup .tab-content {
  flex: 1;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-wrap: break-word;
  overflow: auto;
}
.sidepopup .tab-content .tab-pane {
  height: 100%;
}
.sidepopup .chatBlock .u-pic {
  position: relative;
}
.sidepopup .chatBlock .u-pic:before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -5px;
}
.sidepopup .chatBlock.online .u-pic:before {
  background-color: #4EDD79;
}
.sidepopup .chatBlock.offline .u-pic:before {
  background-color: #ED1C24;
}

.chat_field .form-control {
  overflow: scroll;
  border-radius: 2px;
  border: 1px solid black;
  padding: 6px;
  max-height: 36px;
  min-height: 36px;
  height: 36px;
  font-weight: bold;
  overflow: hidden;
  resize: none;
  text-align: left;
}
.chat_field .btn {
  border-radius: 0;
}

.chat_options {
  background: #6B7378;
  padding: 0.3rem;
}
.chat_options .btn {
  border-color: #000;
  font-weight: 600;
  font-size: 14px;
  margin-left: 0.2rem;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
}
.chat_options .btn:first-child {
  margin-left: 0;
}

.tab_nav {
  padding: 0 0.5rem;
}
.tab_nav .nav {
  border-bottom: 1px solid #ccc;
}
.tab_nav .nav .nav-link {
  color: #337ab7;
  font-size: 15px;
  border: 1px solid transparent;
  border-bottom: none;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
}
.tab_nav .nav .nav-link.active {
  color: #555;
  background-color: transparent;
  border: 1px solid #ccc;
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.tab_nav .btn {
  border-radius: 0;
  font-weight: bold;
  font-size: 15px;
  padding: 0.3rem 0.4rem;
}

.form-control {
  text-align: left;
  border-radius: 0.1rem;
  border-color: #000;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
}
.form-control:focus {
  outline: 1px solid rgb(0, 95, 204);
  box-shadow: none;
}

.counter_strap {
  background-color: #6B7378;
  color: #fff;
  justify-content: space-between;
}
.counter_strap > span {
  padding: 0.1rem 1rem;
  font-weight: bold;
  font-size: 15px;
}
.counter_strap > span:first-child {
  padding: 0.1rem 2rem;
}

.scrollable {
  flex: 1;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-wrap: break-word;
  overflow: auto;
  padding-bottom: 1rem;
}

.chatBlock {
  padding: 0 0.1rem;
  border-bottom: 1px solid #ccc;
}
.chatBlock:last-child {
  border-bottom: none;
}
.chatBlock .u-icon {
  width: 22px;
}
.chatBlock .u-pic {
  min-width: 52px;
  width: 52px;
  min-height: 48px;
  max-height: 62px;
  background-color: #f3f3f3;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
.chatBlock .u-topic {
  font-size: 15px;
  margin: 0 0 0.4rem;
  font-weight: bold;
}
.chatBlock .u-description {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  color: #888;
}

.copyright-text {
  font-size: 12px;
  padding: 0 0.3rem;
  border-top: 1px solid #ccc;
  height: 25px;
  font-weight: bold;
  color: lightslategrey;
  display: flex;
  align-items: center;
}

.room .chatBlock .u-pic {
  width: 52px;
  height: 52px;
}
.room .chatBlock .count {
  font-size: 14px;
}

.group {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.group .chat-list {
  flex: 1;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-wrap: break-word;
  overflow: auto;
  padding-bottom: 1rem;
}
.group .chatBlock .u-pic {
  width: 48px;
  height: 48px;
}
.group .chatBlock .btn {
  padding: 0 0.4rem;
  border-radius: 0;
}
.group .chat_field .form-control {
  min-height: 30px;
  height: 30px;
}
.group .chat_field .btn {
  padding: 0.1rem 0.4rem;
}

input[type=color] {
  border: none;
}

.settings .actBtns {
  padding: 0 0.2rem;
}
.settings .actBtns > * {
  margin-bottom: 2px;
}
.settings .actBtns .btn {
  border-radius: 0;
}
.settings .actBtns .form-control {
  height: 35px;
}
.settings .actBtns .btn-light {
  border-color: #000;
}