a {
  color: #337ab7;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  font: 100% "Noto Sans Arabic", sans-serif;
  color: #333;
  text-align: right;
  background-color: #40404f;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.header_top {
  background-color: #6B7378;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}
.header_top .site-title {
  color: #fff;
  font-weight: 500;
}
.header_top .btn {
  border-radius: 0;
  color: #fff;
  padding: 0.5rem 0.5rem;
}
.header_nav {
  padding: 0.8rem 0.5rem;
}
.header_nav .btn {
  border-radius: 0;
  padding: 0.2rem 1rem;
  font-size: 14px;
  margin: 0 0.1rem;
  border-color: #2e6da4;
}
.header .banner-img {
  font-size: 0;
  margin: 0.5rem 0;
}

.container_sm {
  height: 100%;
  width: 100%;
  max-width: 390px;
  min-height: 100%;
  margin: 0 auto;
  border: 1px solid black;
  background-color: #fff;
}

.tab_nav {
  padding: 0.5rem 0.5rem;
}
.tab_nav .nav {
  border-bottom: 1px solid #ccc;
}
.tab_nav .nav .nav-link {
  color: #337ab7;
  font-size: 15px;
  border: 1px solid transparent;
  border-bottom: none;
  font-weight: 600;
}
.tab_nav .nav .nav-link.active {
  color: #555;
  background-color: transparent;
  border: 1px solid #ccc;
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.tab_nav .btn {
  border-radius: 0;
}

.form-control {
  text-align: right;
  border-radius: 0.2rem;
  border-color: #000;
}
.form-control:focus {
  outline: 1px solid rgb(0, 95, 204);
  box-shadow: none;
}

.counter_strap {
  background-color: #6B7378;
  color: #fff;
  justify-content: space-between;
}
.counter_strap > span {
  padding: 0.1rem 1rem;
  font-weight: 600;
}
.counter_strap > span:first-child {
  padding: 0.1rem 2rem;
}

.scrollable {
  flex: 1;
  overflow: auto;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-wrap: break-word;
  max-height: calc(100vh - 34px);
  overflow: auto;
  padding-bottom: 1rem;
}

.chatBlock {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}
.chatBlock:last-child {
  border-bottom: none;
}
.chatBlock .u-icon {
  width: 22px;
}
.chatBlock .u-pic {
  min-width: 52px;
  width: 52px;
  min-height: 48px;
  max-height: 62px;
  background-color: #f3f3f3;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0.6rem;
  flex-shrink: 0;
}
.chatBlock .u-topic {
  font-size: 15px;
  margin: 0 0 0.4rem;
}
.chatBlock .u-description {
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  color: #888;
}

.copyright-text {
  font-size: 12px;
  text-align: center;
  border-top: 1px solid #ccc;
  height: 30px;
}