<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="./css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="./css/rtl/style.css" rel="stylesheet" type="text/css">
    <link href="./css/fontawesome.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container_full d-flex flex-column chat_room">
        <div class="chat_list">
            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>
            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div><div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div><div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div><div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div><div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div><div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div><div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه</h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>

            <div class="chatBlock d-flex justify-content-between align-items-center">
                <div>
                    <span>0د</span>
                </div>
                <div class="d-flex">
                    <div class="ps-3">
                        <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                        <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                    </div>
                    <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                </div>
            </div>


        </div>
        <div class="chat_field d-flex align-items-center p-2">
            <button class="btn btn-secondary"><img src="./imgs/logout.png" alt="icon" width="20"></button>
            <img src="./imgs/smile.png" class="mx-2" width="30" height="30" alt="icon">
            <textarea class="form-control me-2" placeholder="اكتب رسالتك هنا"></textarea>
            <button class="btn btn-secondary d-flex align-items-center"><img src="./imgs/paper-plane.png" class="me-2" alt="icon" width="20"> إرسال</button>
        </div>
        <div class="chat_options d-flex">
            <button class="btn btn-secondary d-flex align-items-center"><img src="./imgs/user.png" width="18" class="me-1" alt=""> 465</button>
            <button class="btn btn-secondary d-flex align-items-center"><img src="./imgs/chat.png" width="18" class="me-1" alt="">  1 خاص</button>
            <button class="btn btn-secondary d-flex align-items-center"><img src="./imgs/group.png" width="18" class="me-1" alt="">  الغرف</button>
            <button class="btn btn-secondary d-flex align-items-center"><img src="./imgs/chat.png" width="18" class="me-1" alt="">  الحائط</button>
            <button class="btn btn-secondary d-flex align-items-center"><img src="./imgs/settings.png" width="18" class="me-1" alt="">  الضبط</button>
        </div>
        <div class="sidepopup d-flex flex-column">
            <div class="sidepopup__head p-2">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>المتواجدين</h2>
                    <button class="btn btn-danger panel-close">&times;</button>
                </div>
            </div>
            <div class="sidepopup__panel">
                <div class="my-2 px-2">
                    <input type="text" class="form-control" placeholder=""/>
                </div>

                <div class="chatBlock online d-flex">
                    <div>
                        <img src="./imgs/IQ-flag.png" width="18" alt="flag">
                    </div>
                    <div class="d-flex">
                        <div class="ps-3">
                            <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                            <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                        </div>
                        <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                    </div>
                </div>

                <div class="chatBlock offline d-flex">
                    <div>
                        <img src="./imgs/IQ-flag.png" width="18" alt="flag">
                    </div>
                    <div class="d-flex">
                        <div class="ps-3">
                            <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                            <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                        </div>
                        <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                    </div>
                </div>

                <div class="chatBlock online d-flex">
                    <div>
                        <img src="./imgs/IQ-flag.png" width="18" alt="flag">
                    </div>
                    <div class="d-flex">
                        <div class="ps-3">
                            <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                            <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                        </div>
                        <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                    </div>
                </div>

                <div class="chatBlock offline d-flex">
                    <div>
                        <img src="./imgs/IQ-flag.png" width="18" alt="flag">
                    </div>
                    <div class="d-flex">
                        <div class="ps-3">
                            <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                            <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                        </div>
                        <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                    </div>
                </div>

                <div class="chatBlock online d-flex">
                    <div>
                        <img src="./imgs/IQ-flag.png" width="18" alt="flag">
                    </div>
                    <div class="d-flex">
                        <div class="ps-3">
                            <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                            <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                        </div>
                        <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                    </div>
                </div>

                <div class="chatBlock offline d-flex">
                    <div>
                        <img src="./imgs/IQ-flag.png" width="18" alt="flag">
                    </div>
                    <div class="d-flex">
                        <div class="ps-3">
                            <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                            <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                        </div>
                        <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                    </div>
                </div>

                <div class="chatBlock online d-flex">
                    <div>
                        <img src="./imgs/IQ-flag.png" width="18" alt="flag">
                    </div>
                    <div class="d-flex">
                        <div class="ps-3">
                            <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                            <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                        </div>
                        <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                    </div>
                </div>

                <div class="chatBlock offline d-flex">
                    <div>
                        <img src="./imgs/IQ-flag.png" width="18" alt="flag">
                    </div>
                    <div class="d-flex">
                        <div class="ps-3">
                            <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                            <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                        </div>
                        <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                    </div>
                </div>

                <div class="chatBlock online d-flex">
                    <div>
                        <img src="./imgs/IQ-flag.png" width="18" alt="flag">
                    </div>
                    <div class="d-flex">
                        <div class="ps-3">
                            <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                            <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                        </div>
                        <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                    </div>
                </div>

                <div class="chatBlock offline d-flex">
                    <div>
                        <img src="./imgs/IQ-flag.png" width="18" alt="flag">
                    </div>
                    <div class="d-flex">
                        <div class="ps-3">
                            <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                            <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                        </div>
                        <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                    </div>
                </div>

                <div class="chatBlock online d-flex">
                    <div>
                        <img src="./imgs/IQ-flag.png" width="18" alt="flag">
                    </div>
                    <div class="d-flex">
                        <div class="ps-3">
                            <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                            <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                        </div>
                        <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                    </div>
                </div>

                <div class="chatBlock offline d-flex">
                    <div>
                        <img src="./imgs/IQ-flag.png" width="18" alt="flag">
                    </div>
                    <div class="d-flex">
                        <div class="ps-3">
                            <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                            <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                        </div>
                        <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                    </div>
                </div>

                <div class="chatBlock online d-flex">
                    <div>
                        <img src="./imgs/IQ-flag.png" width="18" alt="flag">
                    </div>
                    <div class="d-flex">
                        <div class="ps-3">
                            <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                            <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                        </div>
                        <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                    </div>
                </div>

                <div class="chatBlock offline d-flex">
                    <div>
                        <img src="./imgs/IQ-flag.png" width="18" alt="flag">
                    </div>
                    <div class="d-flex">
                        <div class="ps-3">
                            <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                            <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                        </div>
                        <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                    </div>
                </div>

                <div class="chatBlock online d-flex">
                    <div>
                        <img src="./imgs/IQ-flag.png" width="18" alt="flag">
                    </div>
                    <div class="d-flex">
                        <div class="ps-3">
                            <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                            <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                        </div>
                        <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                    </div>
                </div>

                <div class="chatBlock offline d-flex">
                    <div>
                        <img src="./imgs/IQ-flag.png" width="18" alt="flag">
                    </div>
                    <div class="d-flex">
                        <div class="ps-3">
                            <h2 class="u-topic">صغيرونه <img src="./imgs/feather.gif" class="u-icon" alt=""></h2>
                            <p class="u-description">سيجارة . ما بعد الفطور ، تعادل محادثة فتاة جميلة تظن نفسها محور الكون.</p>
                        </div>
                        <figure class="u-pic" style="background-image: url('./imgs/u-pic.png');"></figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/fontawesome.min.js"></script>

    <script>
        document.querySelector('.panel-close').addEventListener('click', function(e){
            e.preventDefault();
            let sidebar = document.querySelector('.sidepopup');
            sidebar.classList.add('d-none');
        })
    </script>
</body>
</html>
